/* General styling */
body {
  font-family: 'Arial', sans-serif;
  margin-top: 30px;
  padding: 0;
  background-color: #0F172A;
  color: white;
}

.project-container {
  padding: 20px;
  max-width: 800px;
  margin: 60px auto; /* Increased top margin for navbar space */
  text-align: center; /* Center text */
}

.description-section {
  margin-bottom: 20px;
  font-size: 1.5em; /* Increased font size for larger text */
}

/* Form Box */
.form-box {
  padding: 20px;
  border: 1px solid #d3c6e0; /* Lighter lavender */
  border-radius: 10px;
  margin-bottom: 40px;
  text-align: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222f57;
}

/* Upload Section */
.upload-section {
  margin-bottom: 15px;
}

/* Upload Button */
.upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a368d6; /* Updated color */
  padding: 15px 30px; /* Increased padding for larger button */
  border: none; /* Removed dashed border */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem; /* Increased font size */
  color: white; /* Text color */
  height: 40px;
  width: 250px;
  transition: background-color 0.3s ease, transform 0.3s ease;  /* Smooth transition */

}

.upload-button:hover {
  background-color: #8b5bbf;
  transform: translateY(-5px); /* Darker shade on hover */
}

/* Upload Icon */
.upload-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* Predict Button */
.predict-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #a368d6; /* Updated color */
  padding: 15px 30px; /* Increased padding for larger button */
  border: none; /* Removed dashed border */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem; /* Increased font size */
  color: white; /* Text color */
  height: 40px;
  width: 250px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.predict-button:hover {
  background-color:#8b5bbf; /* Darker shade on hover */
  transform: translateY(-5px); 
}
/* Result Box */
.result-box {
  padding: 20px;
  border: 1px solid #d3c6e0; /* Darker lavender */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Added margin for spacing */
}

/* Result Content */
.result-content {
  display: flex;
  align-items: center;
}

/* Result Image */
.result-image {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

/* Result Description */
.result-description {
  max-width: 500px;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}